.lwarp{
	width: 100%;	
}
.content{
	width: 1100px;
	/*height: 1545px;*/
	margin: 0 auto;
	padding-top: 120px;
}
.con-head{
	width: 220px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
}
.con-head>span{
	font-size: 45px;
}
.con-tit{
	width: 1100px;
	height: 50px;
	margin-top: 20px;
}
.con-tit>span{
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}
.con-tit>img{
	margin-top: -40px;
}
.img1{
	width: 1000px;
	height: 2px;	
}
.con-box{
	width: 1100px;
	/*height: 1100px;*/
}
.con-ul{
	width: 1100px;
}
.content_one{
	width: 475px;
	height: 200px;
	margin: 30px 15px 0 0;
	padding: 30px 20px;
	background: white;
    float: left;
    transition: all 0.5s;
}
.content_one>img{
	width: 260px;
	height: 168px;
	float: left;
}
.content_one>p{
	width: 195px;
	height: 180px;
	float: left;
	padding: 10px;
	line-height: 25px;
}
.content_one>p:first-line{
	font-size: 20px;
}
.content_one:hover{
	box-shadow: 0px 0px 0 2px #ccc;
	transform: translateY(-10px);
}
.small{
	width: 14px;
	height: 9px;
	position: relative;
	top: 9px;
	left: -5px;
	background: url(../images/list_img_over_xiaojiantou.png) no-repeat;
	transition: all 0.5s;
	
}
.content_one:hover .small{
	left: 50px;
}
.con-d1{
	width: 1100px;
	clear: both;
}
.con-d1>img{
	display: block;
	width: 107px;
	height: 175px;
	margin: 0 auto;
	padding: 40px;
}
.con-d1>p{
	width: 58px;
	height: 58px;
	margin: 0 auto;
	margin-bottom: 50px;
	background: url(../images/lis_more_btn_bg.png) no-repeat 0 -58px;
	transition: all 0.5s;
}
.list-more:hover{
	background-position-y: 0;
}
